[Desktop Entry]
Type=Service
Icon=image
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/webp;
Actions=convert-webp;
Encoding=UTF-8

[Desktop Action convert-webp]
Name=Convert To JPEG
Icon=image
Exec=export FILE=%f && convert $FILE ${FILE%.webp}.jpg && rm $FILE
